/*
 * @Author: Yu Peng
 * @Date: 2022-11-19 17:31:32
 * @LastEditTime: 2022-11-20 15:20:54
 * @Description: 全局公共样式变量
 */

 common_color = green;
 common_fontSize = 16px;


 :export {
    common_color: common_color;
    common_fontSize: common_fontSize;
 }
